.clue-board{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content:  flex-end;
    overflow-y: scroll;
}
.clues{
    color:whitesmoke;
    background-color: #008441;
    border-radius: 10px;
    width: 90%;
    padding:2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.word-name{
    font-weight: bold;
    font-size: 20px;
    flex-grow: 1;
}
.show-clue-but{
    flex-grow: 1;
    /* background-color: aliceblue; */
    /* text-align: end; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.show-clue-but > span{
    background-color: #00B75A;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.definition{
    font-style: italic;
    padding: 10px 0px 0px 20px;
}

.word-header{
    display: flex;
}
.clue-header{
    color:whitesmoke;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    top:0
}

.hidden-defs{
    width: 50%;
    background-color: aliceblue;
    height: 20px;
    margin-top: 8px;
    opacity: 0.5;
}
.word-def{
    padding-top: 10px;
    display: inline-block;
}